# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# build
bin
.webpack

# terraform 

# Compiled files
*.tfstate
*.tfstate.*


# Module directory
.terraform/
.terragrunt-cache/

# Keys
*.pem
